body{
    background-color:#fff1f06b;
}
header {
    height: 200px;
    width: 100%;
    top: 0px;
    text-align: center;
    background-color: #f4bdff24;
}

.headerDiv {
    /* background-color: pink; */
    height: 50%;
    position: relative;
}

.imgDiv {
    height: 200px;
    width: 150px;
    float: left;
}

#ratingBox {
    width: 210px;    
}

.pageTitle {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.container * {
    /* margin-bottom: 20px; */

}

.cards {
    margin-top: 20px;
    width:100vh;
    border: solid #cececec7 .2px;
    border-radius: 5px;
}

.col1 {
    background-color: white;
    height: 500px;
    border: 5px solid white;
    border-radius: 5px;
}

.col2 {
    background-color: #EEEFFC;;
    border: 5px solid white;
    height: 500px;
    border-radius: 5px;
    /* overflow: hidden; */
}

.by {
    color:rgb(141, 136, 136);
}

.hlt {
    /* background-color: yellowgreen; */
    margin: 20px;
}

.user {
    margin: 0;
    font-size: 1.10rem;
}

.scrollLock {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.formTitle {
    width: 95%;
    height: 50px;
    font-size: x-large;
    margin: 15px;
    border: .5px solid lightgrey;
    border-radius: 6px;
}

.formContent {
    width: 95%;
    height: 35px;
    margin: 12px;
    border: .5px solid lightgrey;
    border-radius: 6px;
}

.formUserName {
    text-align: center;
    display: block;
    border: .5px solid lightgrey;
    border-radius: 6px;
}

.confirmationDiv{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 100%;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
   from {
    opacity: 1;
   } 

   to {
    opacity: 0;
   }
}


/* pop up div on click */
.black_overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    z-index: 1002;
}


/* ----------------Hide Input Number Arrows-------------- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ------------div Scrollbar style----------------------- */
/* firefox */
.review {
    scrollbar-width: thin;
    /* scrollbar-color: blue violet; */
}
.review::-webkit-scrollbar {
    width: 2px;
}
/* Chrome, Edge, and Safari */
.review::-webkit-scrollbar-track {
    /* background: orange; */
}
.review::-webkit-scrollbar-thumb {
    background-color: rgb(157, 157, 157);
    border-radius: 20px;
    /* border: 3px solid orange; */
}
  


.review{
    overflow: auto;
    height: 120px;
    width: auto;
    /* text-overflow: ellipsis; */
}

.rvw {
    white-space: nowrap;
    /* height: 3.5em; */
    text-overflow: ellipsis;
    overflow: hidden;
}

.rvwUser {
    margin-left: 20px;
    border-radius: 6px;
    border: .5px solid lightgrey;
}

.headPic {
    max-height: 100%;
    max-width: 100%;
}

input[type="file"] {
    display: none;
}

.uploadLogo {
    height: 480px;
    width: 100%;
}

#updateBgDiv{
    display: flex;
    z-index: 1;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

#updateFormDiv {
    width: 1000px;
    height: 480px;
    z-index: 2;
    background-color: rgb(196, 219, 219);
    text-align: center;
    overflow: hidden;
}

#updateImg {
    background-color: bisque;
    height: 100%;
    width: 30%;
    z-index: 3;
    float: left;
}

#updateDetails {
    background-color: rgb(242, 232, 91);
    height: 480px;
    width: 70%;
    z-index: 3;
    float: right;
}